<%if (user !=null) {%>

    <!DOCTYPE html>
    <html>

    <head>
        <title>
            <%= title %>
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/popup.css' />
        <script src='/script.js'></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>

    <body style="padding:0;margin:0;">


        <!-- Alert Section -->
        <div id="alertBox">
            <label id="msg"></label>
            <p style="text-align: center;">
                <input value="ok" id="btnA" type="button" onClick='nascondiDIV();'>
            </p>
        </div>
        <div id="alertBoxReload">
            <label id="msgReload"></label>
            <p style="text-align: center;">
                <input value="ok" id="btnA" type="button" onClick='nascondiDIV(),aggiorna();'>
            </p>
        </div>
        <div id="alertBoxConfirm">
            <label id="msgConfirm"></label>
            <p style="text-align: center;">
                <input value='Annulla' id='btnAN' type='button' onClick='nascondiDIV();'>
                <input value='Ok' id='btnA' type='button' onClick='del()'>
            </p>
        </div>
        <div id="back">
        </div>
        <!-- End Alert -->



        <div class="card" style="padding: 0;margin-bottom:10px;margin:0; border:none">

            <!-- MENU SECTION -->
            <div class="card-body"
                style="padding: 5;margin:0;padding-bottom:15px;border-bottom: 1px solid rgb(187, 179, 179);  box-shadow: 1px 1px #eeeeee;">

                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">CompanyAssistant</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item" style="padding: 0% 10px;">
                                    <a class="nav-link" href="./index">Home</a>
                                </li>
                                <%if (user.userType=="admin" ){%>
                                    <li class="nav-item" style="padding: 0% 10px;">
                                        <a class="nav-link" href="./users">Utenti</a>
                                    </li>
                                    <%}%>
                                        <li class="nav-item" style="padding: 0% 10px;">
                                            <a class="nav-link" href="./vms">Macchine Virtuali</a>
                                        </li>
                                        <li class="nav-item" style="padding: 0% 10px;">
                                            <a class="nav-link active" aria-current="page" style="color: #0062cc;"
                                                href="./bot">Company BOT</a>
                                        </li>
                                        <li class="nav-item" style="padding: 0% 10px;">
                                            <a class="nav-link" href="./info">Info</a>
                                        </li>
                            </ul>
                            <span class="navbar-text">
                                <button class="btn btn-primary my-2 my-sm-0" type="button"
                                    onclick="logout()">Logout</button>
                            </span>
                        </div>
                </nav>
            </div>
        </div>

        <!-- END MENU SECTION -->


        <br><br>

        <div class="container-fluid" style="padding:2% 5%;">

            <div class="row row-cols-1 row-cols-md-2 g-4" style="padding: 15;">
                <div class="col" style="margin-top:20px ;">
                    <div>
                        <div class="card h-60">
                            <div class="card-body">
                                <span style="display:inline-block;"><span class="card-title"
                                        style="font-weight: 600;font-size:20px;">COMPANY ASSISTANT BOT</span>
                                    &nbsp;&nbsp;&nbsp;Chiedimi qualsiasi cosa, proverò ad aiutarti</span>
                            </div>
                        </div>
                    </div>

                    <div class="card h-80">

                        <div class="card-body">
                            <iframe src=<%=urlBot %>
                                style='border:none; width: 100%; min-height: 500px;'></iframe>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-top:20px ;">
                    <div>
                        <div class="card h-60">
                            <div class="card-body">
                                <span style="display:inline-block;"><span class="card-title"
                                        style="font-weight: 600;font-size:20px;">CONDIVIDI LE TUE CONOSCENZE</span>
                                    &nbsp;&nbsp;&nbsp;Cresciamo insieme</span>
                            </div>
                        </div>
                    </div>

                    <div class="card ">

                        <form style="padding: 25px; ">
                            <div class="form-group" style="margin-bottom: 10px;">
                                <label for="exampleInputQuestion ">Inserisci una domanda frequente alla problematica
                                    risolta</label>
                                <input type="text" name="question" class="form-control" id="exampleInputQuestion"
                                    aria-describedby="questionHelp " placeholder="Esempio domanda? ">
                                <small id="questionHelp " class="form-text text-muted ">Il tuo aiuto è importante.
                                    Grazie a te la compagnia avrà una crescita maggiore.</small>
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="exampleInputAnswer ">Inserisci qui il modo in cui hai risolto la tua
                                    problematica.</label>
                                <input type="text " class="form-control " name="answer" id="exampleInputAnswer"
                                    placeholder="Risposta ">
                            </div>

                            <button id="sendToBot" style="margin-bottom: 5px;" type="button"
                                onclick="sendDataToBot(this)" class="btn btn-primary ">Invia Contributo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <!-- Footer -->
        <footer class="bg-dark text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase"><span style="color: #eeeeee;">Company Assistant</span></h5>

                        <p>
                            <span style="color: #eeeeee;">Company assistant sfrutta le tecnologie Cloud di Microsoft
                                Azure per semplificare ed ottimizzare il lavoro della tua compagnia.</span>
                        </p>
                    </div>
                    <!--Grid column-->



                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0"><span style="color: #eeeeee;">Contattaci</span></h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-light">l.fasolino4@studenti.unisa.it</a>
                            </li>
                            <li>
                                <a href="#!" class="text-light">m.egidio2@studenti.unisa.it</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: #141414">
                <span style="color: #eeeeee;">© 2021 Copyright:</span>
                <a class="text-light" href="#">Lorenzo Fasolino</a>
                <a class="text-light" href="#">Mario Egidio</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    </body>

    </html>

    <%}else{%>

        <html>

        <body>
            <script>
                window.location.href = './loginPage';
            </script>
        </body>

        </html>

        <%}%>