<!DOCTYPE html>
<html>

<head>
	<title>Dati Errati | CompanyAssistant</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="/stylesheets/banner.css" />
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
</head>

<body>
	<div class="wrap">
		<h1>
			&nbsp;Company Assistant
		</h1>
		<br /><br />
		<div class="banner">
			<a href="./loginPage"><img src="/images/banner.png" alt="" /></a>
		</div>
		<div class="page">
			<h2>
				<%= message %>
			</h2>
		</div>
		<br />
		<center>
			<div class="footer">
				<p>
					<span> All Copyright are reserved &copy; 2021
						<a href="#"> Mario Egidio</a>&nbsp;||&nbsp;<a href="#">Lorenzo Fasolino</a></span>
				</p>
			</div>
		</center>
	</div>
	<script language="JavaScript">
		setTimeout("window.location.href='./loginPage'", "5000");
	</script>
</body>

</html>